.icon {
  font-size: 1.5em;
  padding-right: 10px;
  color: white;
}

.badge {
  margin-left: 10px;
  cursor: pointer;
}

.progressTriangleWrapper {
  position: absolute;
  top: 350px;
  left: 10px;
  z-index: 1;
  height: 25vh;
  width: 180px;
}

.headerWrapper {
  padding-left: 10px;
  background-color: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  padding-left: 10px;
}