.questionContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.questionForm {
  width: 100%;
}

.questionText {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  width: 100%;
}


.questionControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dragging {
  opacity: 0.5;
}
