.questionWrapper {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.input {
  width: 180px;
}

.questionTextContainer {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}